<p>
    <mat-toolbar class="navbar-header">
      <!-- <img [src]="assets/logo" alt=""> -->
      <h1>wework</h1>
      <a mat-raised-button>Ubicaciones</a>
      <a mat-raised-button>Espacio</a>
      <a mat-raised-button>Grandes Empresas</a>
      <a mat-raised-button>Ideas</a>
      <a mat-raised-button>Guardado</a>
      <a mat-raised-button>Contacto</a>
      <a mat-raised-button>Iniciar Sesión</a>
    </mat-toolbar>
  </p>
<div class="container">
    <div class="row1">
        <mat-card class="card">
          <mat-card-title class="font-title">
              Revoluciona tu espacio de trabajo
          </mat-card-title>
          <mat-card-content class="font">
              Independientemente de si diriges una empresa emergente o una compañía consolidada, descubre espacios de trabajo en los que podrás generar un impacto positivo.
          </mat-card-content>
        </mat-card>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Encuentra de trabajo en</mat-label>
            <input matInput placeholder="Encuentra de trabajo en" value="Medellín">
          </mat-form-field>
          </form>
          <button mat-raised-button color="primary">Comenzar</button>
    </div>
    <div >
        <img class="row2" mat-card-image src="../../../assets/images/RecursosAyudaPruebaDevSenior/Web_150DPI-191017_20_Level28_View_2771.jpg" alt="image"/>
    </div>
</div>